### Explore the Markdown and code expressions for data science

Introduction to Datascience basics with Jupyter notebook

##### List of Programming languages used in data science
+ Python
+ R
+ Scala
+ Julia
+ Ruby

##### List of libraries used in data science
+ Pandas
+ Numpy
+ Matplotlib
+ Scipy
+ ggplot

##### List of Tools used in data science
+ Jupyter Notebook
+ Machine Learning
+ Excel
+ TensorFlow
+ Apache spark
+ SQL
+ NoSQL
+ Matplottlib

In [1]:
#Arithmetic expression example
(3+9)*8

96

In [3]:
#Code to multiply and add numbers
x=3
y=4
(x*y)+(x+y)

19

In [5]:
min=200
(min/60)

3.3333333333333335

##### Objectives
* Learn basics of Jupyter notebook
* Basics of Data science
* Languages used
* DE used
* Libraries used
* Data visualization basics
* Version control tool basics
* Containerization tools
* Practice more to become an enthsiast Data scientist

###### Author
Sudipta Dhal